.padre {
	width: 900px;
	height: 400px;
	background-color: #8CB27C;
	padding: 20px;
}
.hijo {
	height: 400px;
	position: relative;
}
.borde, .circulo {
	border: 1px white solid;
}
.arco {
	width: 100px;
	position: absolute;
	top: 115px;
}
.arco, .circulo {
	height: 150px;
}
.circulo {
	width: 150px;
	border-radius: 50%;
	margin: 120px auto;
}
.izquierda {
	left: 0px;

}
.derecha {
	right: 0px;
}
.bola1, .bola2, .bola3 {
	position: absolute;
}
.bola1 {
	top: 120px;
	left: 90px;
}
.bola2 {
	right: 105px;
	bottom: 140px;
}
.bola3 {
	left: 450px;
	top: 40px;
}